@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

    <title>Примеры.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.0/?load=package.standard&amp;lang=ru-RU&amp;apikey=35fe3f70-3f4e-4608-bdb1-e755e7c9b6e9" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
</head>
<body>
    <div id="map" style="width:400px; height:300px"></div>
</body>
</html>









